[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=KA Lite Control Panel
Comment=Control the KA Lite server
Exec=lcrs
Icon=/usr/share/icons/hicolor/128x128/lcrs.png
Terminal=false
Categories=GNOME;GTK;Education;System;Settings;

