[Desktop Entry]
Name=LCRS
Comment=Large-scale Computer Reuse Suite
Exec=lcrs
Icon=lcrs-main
Terminal=false
Type=Application
StartupNotify=true
Categories=Network
