[Desktop Entry]
Name=LCRS
Comment=Large-scale Computer Reuse Suite
Exec=lcrs
Icon=lcrs-lcrs
Terminal=true
Type=Application
StartupNotify=true
Categories=Network
